:root {
  --font-size: 1.3rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
/* HEADER */

header {
  width: 100%;
  height: 6rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 25rem;
  height: auto;
  /* tomara de forma automatica la altura del padre */
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin-right: 1rem;
  color: #212121;
}

nav .nav-right-section .menu-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}

nav .nav-right-section .menu-icon:hover {
  cursor: pointer;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 1rem;
}

/* MAIN */

main {
  margin-top: 14rem;
  text-align: center;
}

main .main-logo {
  width: 53rem;
  margin: 0 auto;
  margin-bottom: 3.1rem;
}

main .main-logo img {
  width: 27.2rem;
  height: 9.2rem;
}

main .main-input {
  width: 53rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}

main .main-input-container {
  width: 52.5rem;
  border-radius: 10rem;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 45rem;
  height: 4rem;
  border: none;
  outline: none;
}

main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

main .main-input .search-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
}

main .main-input .micro-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

main .main-buttons {
  width: 53rem;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons button {
  height: 3.6rem;
  background-color: #fafafa;
  border: none;
  font-size: var(--font-size);
  color: #484043;
  border-radius: 0.5rem;
  padding: 0 1.5rem;
  margin-right: 1.5rem;
  outline: none;
}

main .main-buttons button:hover {
  border: 0.1rem solid #c6c6c6;
  box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #f8f8f8;
}

footer {
  width: 100%;
  height: 4rem;
  position: absolute;
  bottom: 0; /*Con estas dos propiedades me aseguro que el footer siempre esté al final de la página */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: var(--font-size);
  background-color: #f2f2f2;
  border-top: 0.1rem solid #e4e4e4;
}

footer ul {
  margin: 1rem;
  list-style: none;
  display: flex;
  padding-left: 0;
}

footer .footer-left {
  justify-self: left;
}

footer .footer-right {
  justify-self: right;
}

footer ul li a {
  margin: 1rem;
  color: #70757a;
}
