:root {
  --primary-color: rgb(245, 245, 245);
  --secondary-color: rgb(240, 240, 240);
  --font-size: 1.3rem;
  --primary-font-color: rgb(68, 67, 67);
  --secondary-font-color: rgb(109, 109, 109);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* HEADER */

header {
  width: 100%;
  height: 6rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 25rem;
  height: auto;
  /* tomara de forma automatica la altura del padre */
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav .nav-right-section a {
  margin-right: 1rem;
  color: #000000;
}

nav .nav-right-section .menu-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 1rem;
}

/* 
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 14rem 50rem;
  color: var(--primary-font-color);
}

.google-logo {
  width: 100%;
  display: inherit;
  justify-content: center;
}

.google-logo__imagen {
  width: 270px;
}

.search-bar {
  display: inherit;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.search {
  display: inherit;
  justify-content: center;
  width: 100vh;
}

.search__input {
  width: 70vh;
  border: 0.1rem solid rgb(209, 209, 209);
  border-radius: 2rem;
  padding: 1.4rem;
}

.botones {
  display: flex;
  justify-content: center;
  width: 100%;
}

.botones__container-left,
.botones__container-right {
  display: flex;
  width: 50%;
}

.botones__container-left {
  justify-content: flex-end;
  padding-right: 1.8rem;
}

.botones__container-right {
  justify-content: flex-start;
  padding-left: 1.8rem;
}

.boton_enviar__search,
.boton_enviar__luck {
  width: fit-content;
  font-size: var(--font-size);
  padding: 0.8rem 1.1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

input.boton_enviar__luck:hover,
input.boton_enviar__search:hover {
  border: 0.01rem rgb(206, 206, 206) solid;
  border-radius: 0.2rem;
}


footer {
  background-color: var(--secondary-color);
  border-top: 1px solid rgb(212, 212, 212);
  font-size: 1.4rem;
  color: var(--secondary-font-color);
  margin-top: 32rem; /* falta arreglar esto 
  display: flex;
  flex-direction: row;
}

.footer-izquierda,
.footer-derecha {
  display: inherit;
  width: 50%;
}

.footer-izquierda {
  justify-content: flex-start;
}

.footer-derecha {
  justify-content: flex-end;
}

.footer-derecha__lista,
.footer-izquierda__lista {
  display: block;
  padding-left: 1.5rem;
}

footer li {
  padding: 1.2rem 1.2rem;
  display: inline-block;
}

a {
  color: var(--secondary-font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
